@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
  margin: 0;
  padding: 0;
}

.Typewriter {
  font-size: 4.5rem;
  width: 100%;
  text-align: center;
  margin-top: 5rem;
  font-weight: 800;
}

body {
  background-color: #1864ab;
  color: #e7f5ff;
  font-family: 'Rubik', sans-serif;
}

.class-code {
  text-align: center;
}

/* CAROUSEL */
.slick-list {
  padding-bottom: 80px !important;
}
.slick-arrow {
  display: none !important;
}

h3 > img {
  border-radius: 24px;
  scale: 0.85;
  object-fit: cover;
  cursor: pointer;
  -webkit-box-shadow: 10px 13px 30px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 13px 30px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 13px 30px 0px rgba(0, 0, 0, 0.75);
}

h3 > img:hover {
  -webkit-box-shadow: 10px 13px 30px 0px rgba(166, 166, 166, 1);
  -moz-box-shadow: 10px 13px 30px 0px rgba(166, 166, 166, 1);
  box-shadow: 10px 13px 30px 0px rgba(166, 166, 166, 1);
}

/* NAVBAR */

.navbar {
  height: 80px;
  display: flex;
  justify-content: space-between;
  background-color: #efefef;
  align-items: center;
}

.slider {
  margin-top: 10rem;
}

.navbar-buttons {
  display: flex;
  align-items: flex-end;
  gap: 40px;
}

.ba-logo {
  scale: 0.4;
}

.themeToggleContainer {
  scale: 0.8;
}

/* FOOTER */

.footer {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  background-color: #efefef;
  align-items: center;
  color: #1864ab;
  height: 70px;
}

.ba-logo-small {
  scale: 0.3;
  width: 300px;
}

/* CARDS */
.cardContainer {
  background-color: #134e85;
}

.cardsHeader {
  padding-top: 70px;
  line-height: 2rem;
  font-size: 24px;
  text-align: center;
  width: 50%;
  margin: 100px auto 0 auto;
}
