.themeToggleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: wheat;
}

.themeToggleContainer button {
  color: wheat;
  scale: 2.5;
  display: flex;
  justify-content: center;
  align-items: center;
}
